div#InfoWindow
{
	display:block;
	position: absolute;
	right: 0px; 

}
.CalendarWindow
{
	display:block;
	position: absolute;
	width: 150px;    
}

table.InfoWindow
{  
	width:300px;
}

td.BorderWindow
{
	width: 18px;
}

.InfoHeader
{
	background: url('../images/info-top.png');
	font-size:18px;
	padding-top:12px;
	color: #2f536e;
	font-weight: bold;
	background: #e8f1ff;


}
.InfoBody
{
	background: #ffffff;
	padding-right:5px;
	padding-bottom:5px;
}


/*********************************/

#ModalWindow, #ModalWindowTask, #ModalWindowTaskStatus,#ModalWindowNew 
{
	position: absolute; 
	top:100; 
	left: 200px; 
	display:none;
	z-index: 1002;
}
#ModalWindowTask p, #ModalWindowNew a
{
	font-size: 12px;
}
#ModalWindowNew
{
	width: 200px;
}

/**************** Календарь ***************************************/
.WeekHederMonday,.WeekHederTuesday,.WeekHederWednesday,.WeekHederThursday,.WeekHederFriday, .WeekHederSaturday,.WeekHederSunday,
.DayMonday,.DayTuesday, .DayWednesday, .DayThursday, .DayFriday, .DaySaturday, .DaySunday
{
	border-right: 1px solid #f3f8ff;
	border-bottom: 1px solid #f3f8ff;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	color: #353535;
	font-family: Tahoma;
	font-size: 10px;
	cursor: pointer; 

}
.WeekHederMonday, .DayMonday
{
	border-left: 1px solid #edf1f8;  
	width: 20px;  
}
.WeekHederMonday,.WeekHederTuesday,.WeekHederWednesday,.WeekHederThursday,.WeekHederFriday, .WeekHederSaturday
{
	border-top: 1px solid #edf1f8;  
	border-right: 1px solid #ffffff;

}
.WeekHederSaturday, .WeekHederSunday, .DaySaturday, .DaySunday
{
	color: #96281a;
}
.WeekHederSunday
{
	border-top: 1px solid #edf1f8; 
	border-right: 1px solid #edf1f8; 
}
.DaySunday 
{
	border-right: 1px solid #edf1f8;
}
.WeekHederMonday,.WeekHederTuesday,.WeekHederWednesday,.WeekHederThursday,.WeekHederFriday, .WeekHederSaturday,.WeekHederSunday 
{
	background: #f3f8ff;
}
.DayCurrent
{
	background: #e8f1ff;
}
.SelectCalendar
{
	background: #ffffff url('../images/calendar-select.png') no-repeat right top;
	width: 70px;
	height: 15px;
	color: #353535;
	font-family: Tahoma;
	font-size: 10px;
	padding-top: 2px;
	padding-left: 4px;
}

#Month_1, #Month_2, #Month_3, #Month_4, #Month_5, #Month_6, #Month_7, #Month_8, #Month_9, #Month_10, #Month_11, #Month_12 
{
	display: block;
	width: 70px;
	height: 12px;
	color: #353535;
	font-family: Tahoma;
	font-size: 10px;
	padding-top: 2px;
	padding-left: 6px;
	cursor: pointer;
}

.SelectListMonte
{
	background: #ffffff;
	border: 1px solid #d8d8d8;
	border-top: 0px;
	width: 72px; 
	position: absolute;
	padding-bottom: 5px;
	margin: 0px;
	display: none;
}
.YearSelect
{
	background: #ffffff;
	border: 1px solid #d8d8d8;
	width: 40px; 
	color: #353535;
	font-family: Tahoma;
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	margin-left: 5px;

}
/**************************************************************/

/************** Прямоугольное всплывающие окно ****************/
.Recttop
{
	background: url('../images/rect-top.png') repeat-x top;
	font-size:4px;
}

.RectBottom
{
	background: url('../images/rect-bottom.png') repeat-x bottom;
	font-size:4px;
}

.RectLeft
{
	background: url('../images/rect-left.png') repeat-y left;
	font-size:4px;
}

.RectRight
{
	background: url('../images/rect-right.png') repeat-y right;
	font-size:4px;
}

.RectCenter
{
	background: #ffffff;
	padding-right:5px;
	padding-bottom:5px;
	font-size: 11px;
	font-family: Tahoma;
}
/**************************************************************/


/************** С закругленными углами всплывающие окно ****************/
.RoundTop
{
	background: url('../images/modal-top.png') repeat-x top;
	font-size:4px;
}

.RoundBottom
{
	background: url('../images/modal-bottom.png') repeat-x bottom;
	font-size:4px;
}

.RoundLeft
{
	background: url('../images/modal-left.png') repeat-y left;
	font-size:4px;
}

.RoundRight
{
	background: url('../images/modal-right.png') repeat-y right;
	font-size:4px;
}

.RoundCenter
{
	background: #ffffff;
	padding-right:5px;
	padding-bottom:5px;
}
/**************************************************************/

div#Filter
{
	display: none;
}

/*******************   Краткая карточка проекта и задачи    ***********************/
.ViewShort
{
	font-family: Tahoma;
	font-size: 11px;	
	background: #ffffff;
}  

.ViewShort h2  
{
	font-family: Tahoma;
	font-size: 11px;	
}

.DRUList, .RoleList
{
	background: #ffffff;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:5px;
	font-size: 11px;
	font-family: Tahoma;
	width: 208px;
	  
}
.DRUList
{
	display: none;  
}
.level2
{
	padding-left:10px;  
	background: #d0d0d0; 
}

.ButtonDRU
{
	width:208px; 
	height:30px;
	padding:0px;
	background: #e5e6e6 url('../images/button-project.png') no-repeat;
}
.ButtonDRU a
{
	width:180px; 
	height:30px;
	display: block;
	padding-left: 30px;
	padding-top: 5px;
	font-size: 13px;
	font-weight: bold;
	font-family: Tahoma;
	text-decoration: none;
}

a.ButtonSmallDRU
{
	width:180px; 
	height:18px;
	display: block;
	font-size: 10px;
	font-weight: bold;
	font-family: Tahoma;
	text-decoration: none;
	display: block;
}